body {
    margin: 0;
}

.app-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 8px;
}

.row-50 {
    height: 50%;
}

.row-100 {
    height: 100%;
}

.vertical-centered {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.horizontal-vertical-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-panel button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px;
    height: 45px;
    font-size: 20px;
}

.layout-panel {
    height: 100%;
}

.layout-panel .displayer-panel {
    height: 100%;
}

.layout-panel .row > div {
    height: 100%;
    padding: 8px;
    padding-bottom: 0px;
}

.layout-panel .save-button {

}

.tools-row {

}

.model-displayer {
    border-color: gray;
    border-radius: 6px;
    border-style: dashed;
    border-width: 1px;
    height: 100%;
    padding: 5px;
    background-color: white;
}

.model-displayer table {
    width: 100%;
    height: 100%;
}

.model-displayer .displayer-cell {
    height: 100%;
}

.model-displayer .displayer-coll {
    height: 100%;
}

.model-displayer .item-displayer-container {
    height: 100%;
}

.model-displayer .prompt-tr {
    height: 31px;
}

.model-displayer .console-text {
    height: 100%;
    font-size: 12px;
}

.model-displayer .prompt {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    height: 31px;
    line-height: 27px;
    padding-left: 4px;
    font-size: 12px;
    overflow: hidden;
}

.game-container .game-element.selected {
    border-style: solid;
    border-color: rebeccapurple;
    border-width: 1px;
    margin-top: -1px;
    margin-left: -1px;
}

.game-container .game-element.sprite {
    opacity: 0.1;
}

.game-container .game-element.sprite.visible {
    opacity: 1;
}