<div class="scene-editor">
    <div class="scene-editor-main-panel">
        <div class="game-container">
            <div class="scene-container">
                <div id="backgroundcontainer">
                    <div class="game-element enabled ui-widget-content" ng-repeat="bsprite in backgroundSprites" style="left: {{bsprite.attributes.x}}px; top: {{bsprite.attributes.y}}px"><img ng-src="data/packages/{{getImageUrl(bsprite, 'decorations');}}"></div>
                </div>

                <div id="editor-spritescontainer">
                    <div editorsprite type="sprite" register="onRegisterSprite" onselect="onSelectSprite" model="model" class="game-element sprite enabled ui-widget-content" ng-repeat="model in sprites" style="opacity: 1;"><img ng-src="data/packages/{{getImageUrl(model, 'sprites');}}"></div>
                </div>

                <div id="controlscontainer">
                    <div editorsprite type="control" register="onRegisterSprite" onselect="onSelectSprite" model="control" id="{{'control-' + control.uid}}" class="game-element enabled ui-widget-content" ng-repeat="control in controls"><img ng-src="data/packages/{{getImageUrl(control, 'controls');}}"></div>
                </div>
                <editortoolsbar ng-show="selectedSprite"></editortoolsbar>
            </div>
        </div>
    </div>
    <tabsscroller dropedontarget="onDropped" datas="scrollerDatas.octopus"></tabsscroller>
</div>