body {
    background-color: #333333;
    color: white;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.main-panel {
    flex: 1;
}

.scroller, tabsscroller {
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

tabsscroller .content {
    flex: 1;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

tabsscroller .content .content-sub {
    
}

.scrolling-tab {
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

scrollingtab {
    /*flex: 1;*/
}

.scrolling-tab .title {
    background-color: lightcoral;
    height: 30px;
    width: 100%;
    text-align: center;
    line-height: 29px;
    cursor: pointer;
}

.scrolling-tab .tab-content {
    background-color: lightsalmon;
    flex: 1;
    color: white;
    text-align: center;
}

scrollingtabstitle > div {
    width: 100%;
    height: 30px;
    background-color: #dddddd;
    color: black;
    text-align: center;
    line-height: 27px;
}